<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="customer">
        <ng-container *ngIf="customer.id">Edit</ng-container>
        <ng-container *ngIf="!customer.id">Create</ng-container>
        Patient
        <ng-container *ngIf="customer.id">'{{customer.first_name}} {{ customer.last_name }}'</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="customer">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Enter Patient Identifiers</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="patient_identifier"
              placeholder="Identifiers" autocomplete="off" [class.is-invalid]="isControlInvalid('patient_identifier')"
              [class.is-valid]="isControlValid('patient_identifier')" formControlName="patient_identifier" />
            <div class="valid-feedback" *ngIf="isControlValid('patient_identifier')">Patient Identifiers was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'patient_identifier')">Patient Identifiers is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'patient_identifier')">Patient Identifiers should have
              maximum 100 symbols</div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter Patient  First name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="first_name"
              placeholder="First Name" autocomplete="off" [class.is-invalid]="isControlInvalid('first_name')"
              [class.is-valid]="isControlValid('first_name')" formControlName="first_name" />
            <div class="valid-feedback" *ngIf="isControlValid('first_name')">First name was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'first_name')">First name is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'first_name')">First name should have at
              least 3 symbols</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'first_name')">First name should have
              maximum 100 symbols</div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter Patient  Last name</label>
            <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="last_name"
              placeholder="Last Name" autocomplete="off" [class.is-invalid]="isControlInvalid('last_name')"
              [class.is-valid]="isControlValid('last_name')" formControlName="last_name" />
            <div class="valid-feedback" *ngIf="isControlValid('last_name')">Last name was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'last_name')">Last name is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'last_name')">Last name should have at
              least 3 symbols</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'last_name')">Last name should have maximum
              100 symbols</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Enter Patient  Middle Initial (Optional)</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="middle_initial"
              placeholder="Middle Initial" autocomplete="off" formControlName="middle_initial" />
          </div>
          <div class="col-lg-4">
            <label>Select Patient  Gender</label>
            <select class="form-control form-control-lg form-control-solid" name="gender"
              [class.is-invalid]="isControlInvalid('gender')" formControlName="gender">
              <option value="Female">Female</option>
              <option value="Male">Male</option>
              <option value="Other">Other</option>
              <option value="Unknown">Unknown</option>
            </select>
            <div class="feedback">Please select <b>Gender</b></div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'gender')">Gender is required</div>
          </div>
          <div class="col-lg-4">
            <label>Date of Birth</label>
            <div class="input-group input-group-solid">
              <input type="text" name="dob" class="form-control form-control-lg form-control-solid" autocomplete="off"
                placeholder="yyyy/mm/dd" ngbDatepicker #d="ngbDatepicker" [class.is-invalid]="isControlInvalid('dob')"
                [class.is-valid]="isControlValid('dob')" formControlName="dob" readonly="true" />
              <div class="input-group-append" (click)="d.toggle()">
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-calendar"></i>
                </span>
              </div>
            </div>
            <div class="valid-feedback" *ngIf="isControlValid('dob')">Date of Birth was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'dob')">Please enter <b>Date of Birth</b>
              in 'yyyy/mm/dd' format</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label>Select Patient  Race</label>
            <select class="form-control form-control-lg form-control-solid" name="race"
              [class.is-invalid]="isControlInvalid('race')" formControlName="race">
              <option value="2106-3">White</option>
              <option value="1002-5">American Indian or Alaska Native</option>
              <option value="2028-9">Asian</option>
              <option value="2054-5">Black or African American</option>
              <option value="2076-8">Native Hawaiian or Other Pacific Islander</option>
              <option value="2131-1">Other Race</option>
            </select>
            <div class="feedback">Please select <b>Race</b></div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'race')">Race is required</div>
          </div>
          <div class="col-lg-4">
            <label>Select Patient  Ethnicity</label>
            <select class="form-control form-control-lg form-control-solid" name="ethnicity"
              [class.is-invalid]="isControlInvalid('ethnicity')" formControlName="ethnicity">
              <option value="H">Hispanic or Latino</option>
              <option value="N">Not Hispanic or Latino</option>
              <option value="U">Unknown</option>
            </select>
            <div class="feedback">Please select <b>Ethnicity</b></div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'ethnicity')">Ethnicity is required</div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter Language (Optional)</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="language"
              placeholder="Language" autocomplete="off" formControlName="language" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Enter Patient Street Address</label>
            <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="street_address"
              placeholder="Street Address" autocomplete="off" [class.is-invalid]="isControlInvalid('street_address')"
              [class.is-valid]="isControlValid('street_address')" formControlName="street_address" />
            <div class="valid-feedback" *ngIf="isControlValid('street_address')">Street Address was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'street_address')">Street Address is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'street_address')">Street Address should have maximum
              100 symbols</div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter Patient City</label>
            <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="city"
              placeholder="City" autocomplete="off" [class.is-invalid]="isControlInvalid('city')"
              [class.is-valid]="isControlValid('city')" formControlName="city" />
            <div class="valid-feedback" *ngIf="isControlValid('city')">City was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'city')">City is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'city')">City should have maximum
              100 symbols</div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter Patient State</label>
            <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="state"
              placeholder="State" autocomplete="off" [class.is-invalid]="isControlInvalid('state')"
              [class.is-valid]="isControlValid('state')" formControlName="state" />
            <div class="valid-feedback" *ngIf="isControlValid('state')">State was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'state')">State is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'state')">State should have maximum
              100 symbols</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Enter Patient ZIP</label>
            <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="zip"
              placeholder="ZIP" autocomplete="off" [class.is-invalid]="isControlInvalid('zip')"
              [class.is-valid]="isControlValid('zip')" formControlName="zip" />
            <div class="valid-feedback" *ngIf="isControlValid('zip')">ZIP was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'zip')">ZIP is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'zip')">ZIP should have maximum
              100 symbols</div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter Patient Country</label>
            <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="country"
              placeholder="Country" autocomplete="off" [class.is-invalid]="isControlInvalid('country')"
              [class.is-valid]="isControlValid('country')" formControlName="country" />
            <div class="valid-feedback" *ngIf="isControlValid('country')">Country was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'country')">Country is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'country')">Country should have maximum
              100 symbols</div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Enter Patient Phone Number (Optional)</label>
            <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="phone_number"
              placeholder="Phone Number" autocomplete="off" [class.is-invalid]="isControlInvalid('phone_number')"
              [class.is-valid]="isControlValid('phone_number')" formControlName="phone_number" />
            <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'phone_number')">Phone Number must be number</div>
            
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Is it OK to Contact to the Patient? (Optional)</label>
            <select class="form-control form-control-lg form-control-solid" name="allow_contact"
              [class.is-invalid]="isControlInvalid('allow_contact')" formControlName="allow_contact">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
            <div class="feedback">Please select <b>Yes/No</b></div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
    <ng-container *ngIf="customer">

      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
        [disabled]="formGroup.invalid">Save</button>
    </ng-container>
  </div>
</div>