<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <ng-container *ngIf="user">
          <ng-container *ngIf="user.id">Edit</ng-container>
          <ng-container *ngIf="!user.id">Create</ng-container>
          user
          <ng-container *ngIf="user.id">'{{user.first_name}} {{ user.last_name }}'</ng-container>
        </ng-container>
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
      <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container>
  
      <ng-container *ngIf="user">
        <form action="#" class="form form-label-right" [formGroup]="formGroup" autocomplete="off">
          <div class="form-group row">
            <div class="col-lg-4">
              <label class="form-label">Enter First name</label>
              <input type="text" class="form-control form-control-lg form-control-solid" name="first_name"
                placeholder="First Name" autocomplete="off" [class.is-invalid]="isControlInvalid('first_name')"
                [class.is-valid]="isControlValid('first_name')" formControlName="first_name" />
              <div class="valid-feedback" *ngIf="isControlValid('first_name')">First name was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'first_name')">First name is required</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'first_name')">First name should have at
                least 3 symbols</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'first_name')">First name should have
                maximum 100 symbols</div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Enter Last name</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="last_name"
                placeholder="Last Name" autocomplete="off" [class.is-invalid]="isControlInvalid('last_name')"
                [class.is-valid]="isControlValid('last_name')" formControlName="last_name" />
              <div class="valid-feedback" *ngIf="isControlValid('last_name')">Last name was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'last_name')">Last name is required</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'last_name')">Last name should have at
                least 3 symbols</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'last_name')">Last name should have maximum
                100 symbols</div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Enter Facility Name</label>
              <input type="text" class="form-control form-control-lg form-control-solid" name="facility_name"
                placeholder="Facilty Name" autocomplete="off" [class.is-invalid]="isControlInvalid('facility_name')"
                [class.is-valid]="isControlValid('facility_name')" formControlName="facility_name" />
              <div class="valid-feedback" *ngIf="isControlValid('facility_name')">Facility Name was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'facility_name')">Facility Name is required</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4">
              <label class="form-label">Enter Email</label>
              <input type="email" class="form-control form-control-lg form-control-solid" name="email" placeholder="Email"
                autocomplete="nope" [class.is-invalid]="isControlInvalid('email')"
                [class.is-valid]="isControlValid('email')" formControlName="email" />
              <div class="valid-feedback" *ngIf="isControlValid('email')">Email was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'email')">Email is required</div>
              <div class="invalid-feedback" *ngIf="controlHasError('email', 'email')">Email format is incorrect</div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Enter City</label>
              <input type="text" class="form-control form-control-lg form-control-solid" name="city" placeholder="City"
                autocomplete="off" [class.is-invalid]="isControlInvalid('city')"
                [class.is-valid]="isControlValid('city')" formControlName="city" />
              <div class="valid-feedback" *ngIf="isControlValid('city')">City was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'city')">City is required</div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Enter State</label>
              <input type="text" class="form-control form-control-lg form-control-solid" name="state"
                placeholder="State" autocomplete="off" [class.is-invalid]="isControlInvalid('state')"
                [class.is-valid]="isControlValid('state')" formControlName="state" />
              <div class="valid-feedback" *ngIf="isControlValid('state')">State was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'state')">State is required</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4">
              <label class="form-label">Enter Zip</label>
              <input type="text" class="form-control form-control-lg form-control-solid" name="zip"
                placeholder="Zip" autocomplete="off" [class.is-invalid]="isControlInvalid('zip')"
                [class.is-valid]="isControlValid('zip')" formControlName="zip" />
              <div class="valid-feedback" *ngIf="isControlValid('zip')">Zip was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'zip')">Zip is required</div>
              <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'zip')">Zip format is incorrect</div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Enter Phone Number</label>
              <input type="tel" class="form-control form-control-lg form-control-solid" name="phone_number"
                placeholder="Phone Number" autocomplete="off" [class.is-invalid]="isControlInvalid('phone_number')"
                [class.is-valid]="isControlValid('phone_number')" formControlName="phone_number" />
              <div class="valid-feedback" *ngIf="isControlValid('phone_number')">Phone number was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'phone_number')">Phone number is required</div>
              <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'phone_number')">Phone number format is incorrect</div>
            </div>
            <div class="col-lg-4">
              <label>Select Role</label>
              <select class="form-control form-control-lg form-control-solid" name="role" formControlName="role">
                  <option value="0">Admin</option>
                  <option value="1">Doctor</option>
                  <option value="2">Lab Operator</option>
              </select>
              <div class="feedback">Please select <b>Role</b></div>
            </div>
          </div>
          <div class="form-group row" *ngIf="!uuid">
            <div class="col-lg-4">
              <label class="form-label">Enter Password</label>
              <input type="password" class="form-control form-control-lg form-control-solid" name="password"
                placeholder="Password" autocomplete="new-password" [class.is-invalid]="isControlInvalid('password')"
                [class.is-valid]="isControlValid('password')" formControlName="password" />
              <div class="valid-feedback" *ngIf="isControlValid('password')">Password was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'password')">Password is required</div>
              <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'password')">Password requires at least 8 characters in length includes at least 1 lowercase letter, 1 uppercase letter and 1 number</div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Confirm Enter Password</label>
              <input type="password" class="form-control form-control-lg form-control-solid" name="cPassword"
                placeholder="Confirm Password" autocomplete="new-password" [class.is-invalid]="isControlInvalid('cPassword')"
                [class.is-valid]="isControlValid('cPassword')" formControlName="cPassword" />
              <div class="valid-feedback" *ngIf="isControlValid('cPassword')">Confirm Password was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'cPassword')">Confirm Password is required</div>
              <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">Confirm Password don't match</div>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
      <ng-container *ngIf="user">
  
        <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
          [disabled]="formGroup.invalid">Save</button>
      </ng-container>
    </div>
  </div>